body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f7fb;
  color: #222;


}
html {
  scroll-behavior: smooth;
}

.navbar {
  background: #111827;
  color: white;
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}
.nav-links a {
  color: white;
  margin-left: 25px;
  text-decoration: none;
  font-weight: 500;
}
.hero {
  height: 90%;
  background: linear-gradient(135deg, #111827, #2563eb);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;


}
.hero h1 {
  font-size: 55px;
  margin-bottom: 10px;
}
.hero h2 {
  font-size: 28px;
  margin-bottom: 15px;
}
.hero p {
  font-size: 18px;
  max-width: 700px;
  margin: auto;
}
section {
  padding: 60px 40px;
  scroll-margin-top: 80px;

}
section h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
}
.card,
.project-card {
  background: white;
  padding: 15px;
  margin-top: 15px;

  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}
.skill {
  background: #2563eb;
  color: white;
  padding: 10px 18px;
  border-radius: 25px;
  font-size: 14px;
}

.projects-grid {
  display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 24px;
  padding: 40px 0;
  max-width: 1200px;
  margin: 0 auto;
}
.project-card {
  background: white;
  padding: 28px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  border: 1px solid #e5e7eb;
  transition: all 0.3s ease;
  
}
.project-card:hover {
  tranform: translateY(-8px);
  box-shadow: 0 12px 24px rgba(37, 99, 235, 0.15);
}
  .project-card h3 {
    margin-top: 0;
    margin-botttom: 12px;
    font-size: 20px;
    color: #1e293b;
  }
    .project-card p {
      color: #64748b;
      font-size: 14px;
      margin-bottom: 20px;
    }
.project-card a {
  display: inline-block;
  margin-right: 12px;
  margin-top: 0px;
  padding: 8px 16px;
  background: #2563eb;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.2s ease;
}
.project-card a:hover {
  background: #1d4ed8;
  transform: translateY(-2px);
}


.btn {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
  background: #2563eb;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
}
.btn:hover {
  transform: translateY(-2px);
}

.contact-box {
  background: white;
  padding: 30px;
  border-radius: 12px;
  max-width: 700px;
  margin: auto;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}
.contact-box p {
  margin: 12px 0;
}
